server:
  port: 8888

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/Thareesha98/config-repo.git
          default-label: test
          clone-on-start: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
